.board {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  position: relative;
}

.row {
  display: flex;
  flex-grow: 1;
}

.cell {
  flex-grow: 1;
  background: orange;
  border: 1px solid black;
}

.board.apply-highlight .cell:not(.highlight) {
  filter: brightness(0.7);
}

.board.apply-highlight .cell.highlight {
  cursor: pointer;
}
