.koma {
    --cell-width: calc(100% / 9);
    --cell-height: calc(100% / 9);

    position: absolute;
    left: calc((var(--c) + 0.5) * var(--cell-width));
    top: calc((var(--r) + 0.5) * var(--cell-height));
    transform: translate(-50%, -50%);
    width: calc(var(--cell-width) - 10px);
    border-radius: 50% 50% 0 0;
    height: calc(var(--cell-height) - 10px);
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.koma.p2 {
    transform: translate(-50%, -50%) rotateX(180deg);
}
